nav {
  display: flex;
  height: var(--navHeight);
  width: 100vw;

  position: fixed;
  top: 0;
  /* left: 50%;
  transform: translateX(-50%); */
  transition: transform 300ms;

  z-index: 100;

}

nav .wrapper {
  display: flex;

  align-items: center;
  justify-content: space-between;
  transition: background-color .7s ease-in-out;

  background: transparent;
}

nav.scroll {
  /* transition: background-color .9s ease-in-out; */
  background: var(--primaryColor);
  /* position: fixed;
  top: 0; */

}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav.scroll .logo path {
  fill: #fff;
}

nav.scroll button path {
  stroke: #fff;
}

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded> :not(nav) {
  /* > se chama nível*/
  /* display: none; */
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
  display: "";
}



body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: inherit;
  display: inline-block;
}

.close-menu,
body.menu-expanded .open-menu {
  display: none;
}


.menu {
  transform: translateY(100%);
}


body.menu-expanded .menu {
  width: 100vw;
  height: 100vh;


  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primaryColor);
  padding-top: var(--navHeight);

  transition: transform 300ms;

  transform: translateY(0);
}


body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 2;
}


body.menu-expanded .logo path {
  fill: #fff;
}

body.menu-expanded nav button path {
  stroke: #fff;
}



.menu ul:first-child {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;

  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.1rem;

}

.menu ul li a {
  text-decoration: none;
  color: #fff;
}

.menu .button {
  display: inline-block;

  background: #fff;
  border-radius: 4rem;

  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primaryColor);

  padding: 1.6rem 3.2rem;

  margin-top: 4.8rem;
  margin-bottom: 8rem;


}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}