* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --primaryColor: hsl(170, 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --brandBeige: hsl(39, 100%, 97%);
  --brandLight: hsl(148, 23%, 89%);
  --bg-light: hsl(180, 14%, 97%);

  --navHeight: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  width: 100%;
  height: 100%;
}

section {
  padding-block: 10rem;
}

ul {
  list-style: none;
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

body {
  font-family: 'DM Sans', sans-serif;
  text-align: center;

  overflow: overlay;
  /*faz deixar o conteudo sobreposto, não faz a soma. */
  background-color: var(--bg-light);
}

#home {
  padding-top: calc(4.1rem + var(--navHeight));
}

#home::before {
  content: "";
  width: 100%;
  height: calc(108rem + var(--navHeight));
  background-color: var(--brendLight);
  display: inline-block;

  position: absolute;

  top: 0;
  left: 0;

  z-index: -1;
}

#home .welcome {
  font-size: 1.4rem;
  color: var(--primaryColor);
  margin-bottom: 1.6rem;

}


#home .title {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}

#home .description {
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--paragraph);

  margin-bottom: 3.2rem;

  display: inline-block;
}

#home button.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  width: 26.3rem;
  height: 6.2rem;
  margin: 0 auto;
  margin-bottom: 6rem;

  background: var(--primaryColor);

  border: none;
  border-radius: 4rem;

  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
}

#home .img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}

.stats {
  width: 32.7rem;
  padding-block: 4rem;
  margin-inline: auto;
  /* trabalha o eixo y */

  background-color: var(--brandBeige);
  border: 1px solid var(--brandLight);
  border-radius: .6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

.stat h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: .4rem;
}

.stat p {
  color: var(--primaryColor);
  font-size: 1.6rem;
  line-height: 150%;
}